@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}

 

.view-project {
  position: absolute;
  bottom: 60px; /* Initial position at the bottom of the card */
  left: 50%;
  transform: translateX(-50%) translateY(20px) scale(0.9); /* Center horizontally, slightly off-screen vertically */
  opacity: 0;
  filter: blur(5px);
  transition: opacity 0.3s ease, transform 0.5s ease, filter 0.4s ease;
}

.project-card:hover .view-project {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1); /* Center vertically on hover */
  filter: blur(0);
}

